
body {
	background: black;
	color: white;
	font-family: 'inter', sans-serif;
}


nav {
	display: inline-flex;
	justify-content: flex-end;
	align-items: right;
	margin: 0;
	text-align: right;
}

nav ul {
	list-style: none;
	
	padding: 2em;

}

nav ul li {
	padding: 2vw 0;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 3vw;
	
}

header {
	display: flex;
	justify-content: space-between;
	padding-right: 2vw;
}




.image-slider {
	max-width: 70vw;
	margin-right: 6vw;
}

.image-slider img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	max-height: 60vw;
}


.image-divs {
	display: flex;
	justify-content: center;
	align-items: center;	
}

/*.slick-slide:not(.slick-active) {
  opacity: 0.2;
}*/




@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}



@keyframes radius {
	0% {border-radius: 0;}
	100% {border-radius: 100%}
}

#main {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: flex-end;
}

#bottom-right-logo {
	width: 25vw;
	position: absolute;
	top: 37vh;
	right: 18vw;
	z-index: -2;
}


#front-desk-video {
			position: absolute;
			z-index: 1;
			opacity: 0.3;
			height: 85vh;
			width: 55vw;
			aspect-ratio: 1;
			object-fit: cover;
			right: 45%;
			filter: grayscale(100%);
			border-radius: 10px;
		}

		#front-desk-video:hover {
			z-index: 100;
		}



#home-pic-collage {
	
	position: absolute;
	z-index: -1;
	width: 40vw;
	height: 30vw;
	padding: 2vw 0;
	
}

#home-pic-collage img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	
}

.img-container {
	border: solid white;
	border-width: 1px;
	position: absolute;
  top: 8vw;
  
	border-radius: 20px;
	overflow: hidden;
	height: 10vw;
	width: 10vw;
}


#img-btns {
	display: flex;
	width: 15vw;
	height: 2vw;
	border: solid white;
	border-width: 1px;
	color: white;
	padding: 2px;
}



#open-close {
	width: 90%;
	transition: width 0.5s;
	background: black;
	border: none;
	color: white;
	border: solid white;
}

#close-btn {
	width: 10%;
	transition: width 0.5s;
	background: black;
	border: solid white;
	color: white;
}


#img-cont-1 {
	position: absolute;
	z-index: ;
}

#img-cont-2 {
	position: absolute;
	z-index: ;
}
#img-cont-3 {
	position: absolute;
	z-index: ;
}
#img-cont-4 {
	position: absolute;
	z-index: ;
}
#img-cont-5 {
	position: absolute;
	z-index: ;
}

#collage-pic1 {
	opacity: 0.5;
	
  
}


#collage-pic2 {
	
	

}


#collage-pic3 {
	

	
}

#collage-pic4 {

}

#collage-pic5 {

}


































