
body {
	background: black;
	color: white;
	font-family: 'inter', sans-serif;
	padding: 0;
}


nav {
	display: inline-flex;
	justify-content: flex-end;
	align-items: right;
	margin: 0;
	text-align: right;
	position: fixed;
	left: 85%;
	top: 10%;
	z-index: 2;
}

nav ul {
	list-style: none;
	padding: 2em;

}

nav ul li {
	padding: 2vw 0;

}

nav a {
	color: white;
	font-size: 3vw;
	opacity: 0.5;
	text-decoration: none;
	border-bottom: solid transparent;
	transition: opacity 1s, border 1s;
}

nav a:hover {
	opacity: 1;
	border-bottom: solid white;
	
}

.active-link {
	opacity: 1;
	border-bottom: solid white;
}


header {
	width: 99%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	padding: 0;
	background-color: black;
	z-index: 10;
}






#main {
	position: relative;
	display: flex;
	padding-top: 8vw;
	justify-content: space-around;
	padding: 11vw 15vw 0 2vw;
}
	




#bottom-right-logo {
	width: 6vw;

}

.video-container {
	
	padding: 2vw;
	position: absolute;
	width: 100%;
	height: 90vh;
	overflow: hidden;
	z-index: -1;
	top: 0;
}

/*.video-container:hover{
box-shadow: 0 100px 5px rgba(255, 255, 255, 0.5);
}*/

.video-element {
	position: absolute;
	transition: all 1s;
	top: -60%;
	left: 10%;
	width: 80vw;
	filter: grayscale(100%);
}

#entrance-video {
	opacity: 1;
}

#chair-video {
	opacity: 0;
}

#front-desk-video {
	opacity: 0;
}





/* ***PRODUCTS*** */

#main-prod {
	
	display: flex;
	padding-top: 2vw;
	justify-content: space-around;
	padding-left: 5vw;

}

#product-card-div {
	
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
  padding: 7vw 18vw 2vw 0;
	gap: 2vw;
	z-index: 1;
}

.prod-card-top {
	border: 2px solid rgba(255, 255, 255, 0.5);
	padding: 0 2vw;
	transition: border-color 0.5s ease;
}

.prod-card-top:hover {
	border: 2px solid rgba(255, 255, 255, 1);
	cursor: pointer;
}


#pic-in-prod-cards {
	grid-row: 1 / span 2;
	grid-column: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}



#pic-in-prod-cards img {
	width: 30vw;
}

#pic-in-prod-cards2 {
	grid-row: 4 / span 2;
	grid-column: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	}



#pic-in-prod-cards2 img {
	width: 30vw;
}



/*pop-up div*/

#prod-nav-bar {
 box-shadow: 0 0 30px;
 position: fixed;
 top: 0;
 width: 90vw;
 cursor: pointer;
}

.prod-nav-bar {
	font-family: sans-serif;
	position: relative;
	border-radius: 10px;
}

.prod-nav-bar::before {
	content: '';
	position: absolute;
	display:  inline-block;
	bottom: 5px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: white;
	transition: width 1s ease-in-out;
}

.prod-nav-bar:hover::before {
	width: 100%;
}

.active-prod-link {
	box-shadow: 0 0 10px white;
}


#close {
	position: absolute;
	top: 0;
	left: 95%;
	
}

.prod-expanded {
	display: none;
	
}


.active-products {
	position: absolute;
	background: white;
	color: black;
	right: 8vw;
	top: 10vw;
	width: 90vw;
	display: flex;
	flex-direction: column;
	height: 80vh;
	overflow: scroll;
	z-index: 100;
	padding-top: 6vw;
	padding-bottom: 0;
}

.prod-expanded ul {
	list-style: none;
	display: flex;
	border: solid white;
	flex-wrap: wrap;
	background-color: black;
	color: white;
	justify-content: center;
	margin: 0;
	padding-right: 4vw;
}

.prod-expanded li {
	padding: 1vw;
}

.item-displays {
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: scroll;
	gap: 2vw;
	padding: 2vw;
	padding-left: 3vw;
	
}


.active-items h3 {
	font-size: 2vw;
}

.inactive-items {
	
}


.item-card {
	border: solid white;
	box-shadow: 0 0 30px, inset 30px 0 30px rgba(0, 0, 0, 0.5);
	width: 40vw;
	
}

.item-card img {
	
	float: left;
}





/*PICS*/


#gallery-main{
	padding: 10vw 10vw 4vw 3vw;
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	row-gap: 4vw;
}

#gallery-main > * {
	border: solid rgba(255, 255, 255, 0.5);

	padding: 2vw;
}


#gallery-main img {
	width: 20vw;
}










