

body {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 4fr 1fr;
  font-family: 'inter', sans-serif;
}

#cg-logo {
  width: 6vw;
}

#name-logo {
  width: 20vw;
}

header {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / span 2;

}


nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: right;
  margin: 0;
  text-align: right;
  grid-column: 2;
}

a {
	text-decoration: none;
	color: white;
}

nav ul {
  list-style: none;
}

nav ul li a {
  display: inline-flex;
  font-size: 3vw;
  opacity: 0.5;
  border-bottom: solid transparent;
  transition: opacity 1s, border 1s;
  cursor: pointer;
  margin: 2vw 0;
}

nav ul li a:hover {
  opacity: 1;
  border-bottom: solid white;
}
 audio {
 	position: absolute;
 	top: 90%;
 	left: 80%;
 	width: 20vw;
 }

#main {
  grid-row: 2;
  height: 85vh;
  overflow: hidden;
}



.video-container {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.video-element {
  position: absolute;
  transition: all 1s;
  top: -80%;
  left: 0;
  width: 80vw;
  filter: grayscale(100%);
}

#entrance-video {
	opacity: 1;
}

#chair-video {
	opacity: 0;
}

#front-desk-video {
	opacity: 0;
}


.active-link {
	border-bottom: solid white;
	opacity: 1;
}

/* ***PRODUCTS*** */

#main-prod {
	display: flex;
	justify-content: space-around;
	grid-row: 2;
	overflow: scroll;
	height: 80vh;
	padding-left: 2vw;
}

#product-card-div {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 2vw;
	column-gap: 6vw;
	z-index: 1;
	padding-left: 2vw;
}

.prod-card-top {
	border: 2px solid rgba(255, 255, 255, 0.5);
	padding: 0 2vw;
	transition: border-color 0.5s ease;
}

.prod-card-top:hover {
	border: 2px solid rgba(255, 255, 255, 1);
	cursor: pointer;
}


#pic-in-prod-cards {
	grid-row: 1 / span 2;
	grid-column: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}



#pic-in-prod-cards img {
	width: 30vw;
}

#pic-in-prod-cards2 {
	grid-row: 4 / span 2;
	grid-column: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	}



#pic-in-prod-cards2 img {
	width: 30vw;
}

#skin-card-div {
	text-align: center;
}

#skin {
	padding-left: 2vw;
	margin-left: 4vw;
	font-size: 4vw;
	border-bottom: solid white;
	letter-spacing: 3vw;
	width: 20vw;
}


#avyna {

}


/*pop-up div*/

#prod-nav-bar {
 box-shadow: 0 0 30px;
 position: fixed;
 top: 0;
 width: 90vw;
 cursor: pointer;
}

.prod-nav-bar {
	font-family: sans-serif;
	position: relative;
	border-bottom: solid transparent;
	transition: opacity 1s, border 1s;
}

.prod-nav-bar:hover {
	border-bottom: solid white;
}

/*.prod-nav-bar::before {
	content: '';
	position: absolute;
	display:  inline-block;
	bottom: 5px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: white;
	transition: width 1s ease-in-out;
}

.prod-nav-bar:hover::before {
	width: 100%;
}*/

.active-prod-link {
	border-bottom: solid white;
}


#close {
	position: absolute;
	top: 0;
	left: 96.5%;
	color: white;
	font-size: 4vw;
}

.prod-expanded {
	display: none;
	
}


.active-products {
	position: absolute;
	background: white;
	color: black;
	right: 8vw;
	top: 20vw;
	width: 90vw;
	display: flex;
	flex-direction: column;
	height: 80vh;
	overflow: scroll;
	z-index: 100;
	margin-top: 4vw;
	padding-top: 6vw;
	padding-bottom: 0;
}

.prod-expanded ul {
	list-style: none;
	display: flex;
	border: solid white;
	flex-wrap: wrap;
	background-color: black;
	color: white;
	justify-content: center;
	margin-top: 1vw;
	padding-right: 4vw;
}

.prod-expanded li {
	margin: 1vw;
}

.item-displays {
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: scroll;
	gap: 2vw;
	padding: 2vw;
	padding-left: 3vw;
	
}


.active-items h3 {
	font-size: 2vw;
	margin: 0;
}

.inactive-items {
	
}

.item-card > * {
/*	outline: solid pink;*/
}

.item-card {
	display: grid;
	grid-template-columns: 2fr 4fr;
	border: solid white;
	box-shadow: 0 0 30px, inset 50px 0 50px rgba(0, 0, 0, 0.5);
	}

.item-card img {
		align-self: center;
		margin-left: 2vw;
}

.item-card h3 p {
	outline: solid green;
}

.text-inside-item-card {
	border-width: 1px;
	margin: 2vw;
	margin-left: 0;
	}


#hair-color-pics {
	display: inline-flex;
	flex-wrap: wrap;

}

#hair-color-pics img {
	margin: 1vw;
	border-radius: 40px;
}

/*PICS*/


#gallery-main{
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	row-gap: 4vw;
	column-gap: 2vw;
	grid-row: 2;
	overflow: scroll;
	height: 80vh;
}

#gallery-main > * {
	border: solid rgba(255, 255, 255, 0.5);
	padding: 2vw;
}


#gallery-main img {
	width: 20vw;
}

@media screen and (max-width: 675px) {
	#product-card-div {
		position: relative;
		display: flex;
		flex-direction: column;
		z-index: 1;
		padding-left: 2vw;
	}
	#gallery-main{
	grid-template-columns: repeat(2, 2fr);
}
	.prod-expanded li {
	margin: 1vw;
}
	.active-products {
		margin-top: 15vh;
		height: 70vh;
	}

	.item-displays {
		grid-template-columns: 1fr;
	}

	body {
		margin: 0;
		padding: 0;
		overflow: hidden;
		grid-template-columns: 6fr 1fr;
		font-size: 3vw;
	}
	header {
  	margin: 0;
 	padding: 2vw;
  	}

	#name-logo {
  border-radius: 15px;
	}

	#cg-logo {
 position: absolute;
 display: none; 
	}

	nav {
  margin: 0;
  width: 100%;
		}

	a {
	text-decoration: none;
	color: white;
		}

nav ul {
	list-style: none;
				}

nav ul li a {
  font-size: 6vw;
  opacity: 0.5;
  border-bottom: solid transparent;
  transition: opacity 1s, border 1s;
  cursor: pointer;
  margin: 2vw 0;
}

nav ul li a:hover {
  opacity: 1;
  border-bottom: solid white;
}

	#main {
		position: absolute;
	
		overflow: hidden;
		width: 100%;
		height: 100%;
		z-index: -4;
	}
	
	.video-container {
  	position: relative;
  	outline: solid orange;
  	height: 100%;
  	
		}
	.video-element {
		position: absolute;
    transition: all 1s;
    object-fit: contain;
    filter: grayscale(100%);
    z-index: -5;
    top: 0;
  	left: 0;
  	width: 100%;
	}
}

/*about me section*/
* {
	
}

#about-me-body {
	padding: 0;
	background-color: black;
  	color: black;
  	display: grid;
  	grid-template-columns: 95% 5%;
  	font-family: 'inter', sans-serif;
  	overflow-x: hidden;
}

#about-me {
	display: flex;
	flex-direction: column;
	grid-row: 2;
	overflow: scroll;
	height: 80vh;
	position: relative;
	background-image: url(historyPics/background.jpeg);
	background-size: cover;
}
 .about-me-images-border {
	border: solid white;
	border-width: 1em;
	outline: solid black;
 }
.about-me-text-border {
	border: solid black;
	outline: solid white;
	border-width: 10px;
	padding: 2vw;
	box-shadow: 0 0 30px;
	background-color: white;
}

#aboutme-header {
	position: relative;
	z-index: 10;
	box-shadow: 0 0 5vw 2vw rgba(0, 0, 0, 0.8);
}

.collapsed-nav {
	display: inline-block;
	color: white;
	text-align: right;
	box-shadow: 0 0 6vw 2vw rgba(0, 0, 0, 0.8);
	position: relative;
	z-index: 9;
}

.collapsed-nav li {
	color: white;
	list-style: none;
}

.collapsed-nav li a {
	font-size: 3vw;
	color: white;
}

#about-me-div-0 {
	display: inline-flex;
	justify-content: center;
}
#about-me-img-1 {
	margin-top: 2vw;
	height: 40vw;
	width: 70vw;
	filter: grayscale(60%);
	border: solid black;
	outline: solid white;
	border-width: 1vw;
}

#center-text {
	border: solid black;
	border-width: 0.5vw;
	position: absolute;
	z-index: 2;
	top: 20vw;
	left: 30vw;
	text-align: center;
	color: white;
	font-size: 6vw;
	letter-spacing: 5px;
	background-color: rgba(0, 0, 0, 0.466);
	width: 35vw;
	
}


#about-me-img-2 {
	width: 100%;
	height: 35vw;
	object-fit: cover;
	object-position: bottom;
	filter: grayscale(90%);
	grid-row: 1;
	grid-column: 2;
}

#about-me-div-1 h1 {
	border: solid black;
	outline: solid white;
	border-width: 10px;
	padding: 2vw;
	margin-left: 5vw;
	position: relative;
	z-index: 10;
	width: 25vw;
	background-color: white;
}

#about-me-img-30 {
	border: solid white;
	border-width: 1vw;
	width: 20vw;
	height: auto;
	aspect-ratio: 1;
	transform: rotate(45deg);
	margin: 10vw;
	margin-left: 8vw;
	outline: solid black;
}

#about-me-div-1 {
	justify-content: space-around;
	align-items: center;
	
	width: 100%;
	display: inline-flex;
	
}

#about-me-div-2 {
	
	width: 100%;
	display: flex;
	justify-content: space-around;
}

#about-me-div-2 h3 {
	border: solid black;
	width: 20vw;
	height: 7vw;
}

#about-me-img-3 {
	
}

#about-me-div-2 img {
	width: 20vw;
	
}

#about-me-div-3 {
	outline: solid purple;
	width: 20vw;
}

#about-me-div-3 img {
	width: 20vw;
}


#about-me-div-4 {
	outline: solid orange;
	width: 20vw;
}

#about-me-div-4 img {
	width: 20vw;
}

#about-me-div-5 {
	outline: solid yellow;
	width: 20vw;
}

#about-me-div-5 img {
	width: 20vw;
}




















